<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Padaria</title>
    <link rel="stylesheet" href="../static/css/style_dashboard_interface.css">
</head>
<body>

    <div class="container">
        <div class="dashboard-content">
            <h2>Bem-vindo à Padaria & Adega <br><br> Gerencie sua padaria com facilidade!</h2>
        

            <div class="button-container">
                <!-- Coluna da esquerda -->
                <div class="column">
                    <button class="btn" onclick="window.location.href='registrar_pedido.html'">Registrar Pedido</button>
                    <button class="btn" onclick="window.location.href='estoque.html'">Controle de Estoque</button>
                    <button class="btn" onclick="window.location.href='alertas.html'">Alertas de Vencimento</button>
                </div>

                <!-- Coluna da direita -->
                <div class="column">
                    <button class="btn" onclick="window.location.href='gerenciar_produtos.html'">Gerenciar Produtos</button>
                    <button class="btn" onclick="window.location.href='configuracoes.html'">Configurações</button>
                    <button class="btn" onclick="window.location.href='suporte.html'">Suporte</button>
                </div>
            </div>

            <!-- Botão central para Relatórios -->
            <div class="center-button">
                <button class="btn btn-relatorios" onclick="window.location.href='relatorios.html'">Relatórios Financeiros</button>
            </div>
        </div>
    </div>
    <footer> 🔥 Hope Up 7 🔥</footer>
</body>
</html>