
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Padaria & Adega - Login</title>
    <link rel="stylesheet" href="../static/css/style_login_interface.css">
</head>
<body>

    <!-- Container principal -->
    <div class="container">
        <div class="content login-container">
            <h1>Padaria & Adega</h1>
            <p> Cada amanhecer é uma nova chance de prosperar.<br>O trabalho dedicado transforma grãos em ouro, e o seu esforço será recompensado.</p>

            <!-- Campos de entrada para login -->
            <input type="text" id="nome" placeholder="Digite seu nome">
            <input type="password" id="senha" placeholder="Digite sua senha">
            
            <!-- Botão de login -->
            <button id="loginBtn">Entrar</button>
        </div>
    </div>

    <!-- Rodapé -->
    <footer> 🔥 Hope Up 7 🔥</footer>

    <!-- Importação do JavaScript -->
    <script src="../static/js/script.js"></script>

</body>
</html>